* {
    margin: 0%;
    padding: 0%;
}

.head {
    padding: 15px 5px;
}

.navbar {
    color: #F0F8FF;
    background-color: black;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.logo {
    font-size: 1.3125rem ;
    padding-bottom: 0px;
}

h6 {
    font-size: 8px;
    margin-left: 25px;
    color: #FDEE00;
}

a {
    font-size: 1rem ;
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 1px ;
    padding-bottom: 0px;
}

a:hover {
    color: #FDEE00;
    /* border-bottom: 2px solid #F0F8FF; */
    border-radius: 3px;
}

a:active {
    color: white;
}

.search-input {
    width: 100%;
    font-size: 0.85rem;
    border: 0.85px solid rgb(43, 44, 45) ;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: black;
    color: #FFFFFF;
}

.search-sec {
    display: flex;
    justify-content: space-evenly;
    height: 21px;
    width: 100px;
}

.search-icon {
    
    border: 2px solid #FFFFFF ;
    background-color:#FFFFFF;
    color: black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* cart */


.cart {
    /* margin-right: 150px ; */
    /* text-align: center ; */
    margin: 20px 20px;
}

.cart h1 {
    padding: 30px 30px ;
    text-align: center ;
}

table {
    width: 100% ;
    border-collapse: collapse ;
}

.cart-info img {
    padding: 21px 21px ;
}

.cart-info {
    display: flex ;
    flex-wrap: wrap ;
}

.product-inf a:hover {
    border-bottom: 2px solid rgb(93, 61, 61);
    border-radius: 0px;
}

.product-inf {
    padding: 21px 21px ;
}

.product-inf p {
    font-weight: 2000px;
    /* padding: 5px 5px ; */
}

.product-inf h5 {
    text-align: left;
}

.size {
    display: flex;
    /* padding: 10px 10px ; */
}

.size h4 {
    padding-right: 21px;
}

.size select {
    height: 21px ;
    border: 1px solid black;
    border-radius: 2px;
}

th {
    text-align: left ;
    padding: 5px 5px ;
    background-color: black;
    color: white;
}

td input {
    width: 30px;
    height: 20px;
    padding: 2px;
    margin-top: 0px;
}

.product-inf a {
    border-bottom: none;
    color: rgb(94, 36, 36);
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px;
}

.total-price table {
    border-top: 3px dashed black;
    width: 100%;
    max-width: 350px;
}

td:last-child{
    text-align: right;
}

th:last-child {
    text-align: right;
}

.total-price td {
    padding: 5px 5px;
}

.footer {
    background-color: black;
}

.footer h2 {
    color: #F0F8FF;
    text-align: center;
    padding: 10px 0px;
}

.footer h3 {
    color: #E7E8D1;
    font-size: 21px;
}

.foot {
    display: flex;
}

.footer a {
    display: block;
    font-size:11px;
    padding-top: 10px;
    border-bottom: none;
}

.footer a:hover {
    color: white;
    cursor: pointer;
}

.pf {
    padding: 10px 10px 10px 30px;
    flex-basis: 33%;
}



@media only screen and (max-width: 600px){
    .cart-info img{
        height: 100px;
        width: 100px;
    }


}